@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #1b750b;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: #3a375e80;
    --texto-fundo: #3a375e4d;
    
}

body{
    font-family:Dancing Script;
}